			/* Import Google Fonts */
			@import url("//fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
			
			nav{
			 background-color:#000000;
			 transform:translatex(0px) translatey(0px);
			 font-weight:700;
			 font-size:64px;
			 text-transform:none;
			 text-decoration:none;
			 line-height:64px;
			 transform:translatex(0px) translatey(0px);
			 border-bottom-left-radius:30px;
			 border-bottom-right-radius:30px;
			 max-height:96px;
			 min-height:72px;
			 overflow:hidden;
			}

			nav a{
			 transform:translatex(0px) translatey(0px);
			 display:inline-block;
			 text-align:left;
			 text-decoration:none;
			 padding-left:0px;
			 line-height:72px;
			color:#ffffff;
			}
			
			/* Image */
			nav a img{
			display:inline-block;
			height:72px;
			margin-top:12px;
			margin-bottom:12px;
			margin-right:12px;
			margin-left:12px;
			}
			
			/* Body */
			body{
			margin-left:0px;
			margin-top:0px;
			margin-right:0px;
			}

			body{
			font-family:'Lobster Two', display;
			background-color:#1c1c1c;
			color:#ffffff;
			}
